/.vs
/*.csproj
/*.sln
/obj
/Builds
/Packages/packages-lock.json
/UserSettings/EditorUserSettings.asset
/UserSettings
/Build/

/MCrashReporter_src~/MCrashReporter/bin/
/MCrashReporter_src~/MCrashReporter/obj/
/MCrashReporter_src~/.vs/

MCrashReporter_src~/MCrashReporter/Properties/PublishProfiles/FolderProfile-macOS.pubxml.user
MCrashReporter_src~/MCrashReporter/Properties/PublishProfiles/FolderProfile-windows.pubxml.user
MCrashReporter_src~/MCrashReporter/MCrashReporter.csproj.user
.vs/